@page "/hleppdebug"
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Kertu.InteractiveServer.Data;
@using Models = Kertu.InteractiveServer.Data.Models.Elements;

@inject Account.IdentityUserAccessor userAccessor
@inject IHttpContextAccessor httpContextAccessor
@inject ApplicationDbContext dbContext

<h3>hlepp_debugpage</h3>

<RadzenButton Text="KLIK" Click="@click"></RadzenButton>

@code {
    ApplicationUser currentUser = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        currentUser = await userAccessor.GetRequiredUserAsync(httpContextAccessor.HttpContext);
    }

    void click()
    {
        Models.Board board1 = new();
        board1.Name = "Board1";
        board1.Owner = currentUser;
        Models.Board board2 = new();
        board2.Name = "Board2";
        board2.Owner = currentUser;
        Models.Card card1 = new();
        card1.Name = "Card1";
        card1.Description = "Description1";
        card1.Owner = currentUser;
        Models.Card card2 = new();
        card2.Name = "Card2";
        card2.Description = "Description2";
        card2.Owner = currentUser;
        Models.Card card3 = new();
        card3.Name = "Card3";
        card3.Description = "Description3";
        card3.Owner = currentUser;
        Models.Card card4 = new();
        card4.Name = "Card4";
        card4.Owner = currentUser;
        Models.Card card5 = new();
        card5.Name = "Card5";
        card5.Owner = currentUser;
        Models.Card card6 = new();
        card6.Name = "Card6";
        card6.Owner = currentUser;
        Models.Card card7 = new();
        card7.Name = "Card7";
        card7.Owner = currentUser;
        Models.List list1 = new();
        list1.Name = "List1";
        list1.Owner = currentUser;
        Models.List list2 = new();
        list2.Name = "List2";
        list2.Owner = currentUser;
        Models.List list3 = new();
        list3.Name = "List3";
        list3.Owner = currentUser;


        board1.Children.Add(card1);
        board1.Children.Add(card2);
        board1.Children.Add(list1);
        board1.Children.Add(board2);
        list1.Children.Add(card3);
        list1.Children.Add(card4);
        board2.Children.Add(card5);
        board2.Children.Add(list2);
        board2.Children.Add(list3);
        list3.Children.Add(card6);

        currentUser.UserElements.Add(board1);
        currentUser.UserElements.Add(card7);

        Models.Card task1 = new();
        task1.Name = "Task1";
        task1.Description = "Description1";
        task1.Owner = currentUser;
        task1.IsTask = true;
        currentUser.UserElements.Add(task1);

        dbContext.SaveChanges();
    }
}
