@page "/dontuse"
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Kertu.InteractiveServer.Data;
@using Models = Kertu.InteractiveServer.Data.Models.Elements;

@inject Account.IdentityUserAccessor userAccessor
@inject IHttpContextAccessor httpContextAccessor
@inject ApplicationDbContext dbContext
@inject NavigationManager NavigationManager

<h3>hlepp_debugpage</h3>

<RadzenButton Text="KLIK" Click="@click"></RadzenButton>

@code {
    ApplicationUser currentUser = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        currentUser = dbContext.Users.Single(u => u.UserName == httpContextAccessor.HttpContext.User.Identity.Name);
    }

    void click()
    {
        Models.Board board1 = new();
        board1.Name = "Board1";
        board1.Owner = currentUser;
        dbContext.Elements.Add(board1);

        Models.Board board2 = new();
        board2.Name = "Board2";
        board2.Owner = currentUser;
        dbContext.Elements.Add(board2);

        Models.Card card1 = new();
        card1.Name = "Card1";
        card1.Description = "Description1";
        card1.Owner = currentUser;
        dbContext.Elements.Add(card1);

        Models.Card card2 = new();
        card2.Name = "Card2";
        card2.Description = "Description2";
        card2.Owner = currentUser;
        dbContext.Elements.Add(card2);

        Models.TaskCard card3 = new();
        card3.Name = "Card3";
        card3.Description = "Description3";
        card3.Owner = currentUser;
        dbContext.Elements.Add(card3);

        Models.Card card4 = new();
        card4.Name = "Card4";
        card4.Owner = currentUser;
        dbContext.Elements.Add(card4);

        Models.Card card5 = new();
        card5.Name = "Card5";
        card5.Owner = currentUser;
        dbContext.Elements.Add(card5);

        Models.Card card6 = new();
        card6.Name = "Card6";
        card6.Owner = currentUser;
        dbContext.Elements.Add(card6);

        Models.Card card7 = new();
        card7.Name = "Card7";
        card7.Owner = currentUser;
        dbContext.Elements.Add(card7);

        Models.List list1 = new();
        list1.Name = "List1";
        list1.Owner = currentUser;
        dbContext.Elements.Add(list1);

        Models.List list2 = new();
        list2.Name = "List2";
        list2.Owner = currentUser;
        dbContext.Elements.Add(list2);

        Models.List list3 = new();
        list3.Name = "List3";
        list3.Owner = currentUser;
        dbContext.Elements.Add(list3);

        dbContext.SaveChanges();

        currentUser.UserElements.Add(board1);
        currentUser.UserElements.Add(card7);

        card1.AddTo(board1);
        card2.AddTo(board1);
        list1.AddTo(board1);
        board2.AddTo(board1);
        card3.AddTo(list1);
        card4.AddTo(list1);
        card5.AddTo(board2);
        list2.AddTo(board2);
        list3.AddTo(board2);
        card6.AddTo(list3);

        Models.Card task1 = new();
        task1.Name = "Task1";
        task1.Description = "Description1";
        task1.Owner = currentUser;
        currentUser.UserElements.Add(task1);

        dbContext.SaveChanges();
        NavigationManager.Refresh(true);
    }
}
