@using Microsoft.AspNetCore.Authorization

@page "/"
@attribute [Authorize]
<PageTitle>Home</PageTitle>
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTracker />

<AuthorizeView>
    <Authorized>
        Hello @context.User.Identity?.Name!
        <form action="Account/Logout" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@_currentUrl" />
            <button type="submit" @onclick="() => LocalStorage.ClearAsync()">Logout</button>
        </form>
    </Authorized>
</AuthorizeView>