/* CSS for Wave Background Animation */
.waveWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to top, #b3d4fc 30%, #e8f7ff 70%);
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    bottom: 0;
}

.wave {
    position: absolute;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.bgTop .wave {
    background-size: 50% 100px;
}

.bgMiddle .wave {
    background-size: 50% 120px;
}

.bgBottom .wave {
    background-size: 50% 150px;
    animation: moveWave 15s linear infinite;
    animation-delay: 0.5s;
}
.waveAnimation .waveTop {
    animation: moveWave 7s linear infinite;
    
}
.waveAnimation .waveMiddle {
    animation: moveWave 10s linear infinite;
}
@keyframes moveWave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
