@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

@inject NavigationManager Navigation

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10" class="h-100" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10" class="h-100">
                @if (!IsAccountRoute)
                {
                    <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                }
                else
                {
                    <!-- Filler element to maintain layout consistency -->
                    <div style="width: 22px" />
                }
                <a href="/" class="h-100 d-flex align-items-center">
                    <img src="/favicon/favicon-48x48.png" alt="App logo" width="32" />
                </a>
                <a href="/" class="h-100 d-flex align-items-center">
                    <RadzenLabel Text="Kertu" style="cursor: pointer; font-size: 1.25rem;" />
                </a>
            </RadzenStack>

            @if (!IsAccountRoute)
            {
                <RadzenAppearanceToggle />
            }
        </RadzenStack>
    </RadzenHeader>

    @if (sidebarExpanded)
    {
        <RadzenSidebar Responsive="false">
            <TreeViewNavigationPanel />
        </RadzenSidebar>
    }

    <RadzenBody>
        <div class="rz-p-4 h-100">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebarExpanded = false;
    bool IsAccountRoute => Navigation.Uri.Contains("/Account/");
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>