@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenStack JustifyContent="JustifyContent.Left" Orientation="Orientation.Horizontal" class="page">
    <AuthorizeView>
        <div class="sidebar">
            <TreeViewNavigationPanel />
        </div>
    </AuthorizeView>
    @Body

</RadzenStack>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>